---
---
@charset "utf-8";
@import "syntax";
body{font-family:"Roboto";}
img{max-width:100%}
#content{display:block;padding-bottom:130px}
.mdl-mini-footer{position:absolute;bottom:0;right:0;left:0;white-space:nowrap;max-height:96px}
@media screen and (max-width:532px){.mdl-mini-footer{padding:16px}}
#logolink{position:absolute;padding:15px;top:0}
.is-small-screen #logolink{padding:5px}
.mdl-layout__content{flex-shrink:0;}
.mdl-menu .mdl-menu__item{text-align:right}
.mdl-layout__obfuscator.is-visible, .mdl-layout__drawer{position:fixed}
.mdl-layout:not(.is-small-screen) .onlysmallscreen .mdl-layout__header-row,.mdl-layout:not(.is-small-screen) .mdl-layout__drawer-button{display:none}
a{text-decoration:none;}
.mdl-layout__content a, footer a{
color:{{site.color}};
text-align:center;
}
i{vertical-align:middle;}
.link{opacity:.8}
.link:hover{opacity:1}
.mdl-mini-footer__social-btn{background-color:initial;color:{{site.color}}}
code, tt {
padding: 1px 3px;
font-family: Inconsolata, monospace, sans-serif;
font-size: 0.85em;
white-space: pre-wrap;
border: #E3EDF3 1px solid;
background: #F7FAFB;
border-radius: 2px;
}
pre {
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 0 0 1.75em 0;
border: #E3EDF3 1px solid;
width: 100%;
padding: 10px;
font-family: Inconsolata, monospace, sans-serif;
font-size: 0.9em;
white-space: pre;
overflow: auto;
background: #F7FAFB;
border-radius: 3px;
}
pre code, tt {
font-size: inherit;
white-space: -moz-pre-wrap;
white-space: pre-wrap;
background: transparent;
border: none;
padding: 0;
}
.mdl-mini-footer__right-section i{font-size:13.3333px}
/*CSS for article page also for index.html*/
.mdl-card, .adsbygoogle{
width:auto;
max-width:800px;
}
.mdl-card{
margin: 20px auto;
}
.mdl-card .postdate{
margin-right: 16px;
}
.mdl-card img{
margin: 10px;
}
.mdl-card .mdl-card__supporting-text{
padding-right: 16px;
width:auto;
}
.mdl-card__actions .mdl-button{
overflow:initial;
}
.mdl-button .mdl-badge[data-badge]:after{
right:-10px;
}
.post-hr{
border-top: 1px solid rgba(0,0,0,.1);
}
/*This is the limit of articles on the main page(index.html). Also the margins prevent the wrong cut of content.*/
.content-limit{
position:relative;
max-height:400px;
overflow:hidden;
}
.gradientback{
position:absolute;
top:362px;
left:0px;
width:100%;
height:70px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.pagination{
text-align:center;
margin:16px;
display:block;
}
.paginator-align{
vertical-align:middle;
display:inline-block;
}
.mdl-card__supporting-text div img{
float: right;
max-width:50%;
margin:10px;
}
{% for buttoncolor in site.data.nav.footerlinks %}#{{buttoncolor.id}} button:hover{background-color:{{buttoncolor.color}}}{% endfor %}
