<div class="container">
 <div id="topa" class="advertisement"><div class="mdl-typography--caption-color-contrast" id="adlabelheader">Advertisement</div><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9489060368971640" data-ad-slot="6646806677" data-ad-format="auto"></ins></div>
 <div class="dform mdl-shadow--2dp">
  <form id="DownloadForm" name="DownloadForm">
   <table id="tp" class="dt mdl-data-table mdl-js-data-table">
    <thead><tr><th class="mdl-data-table__cell--non-numeric"><span id="tplatform"><strong>Platform</strong>:</span></th></tr></thead>
    <tbody>
    {% for table in site.data.table.arch %}
    <tr><td class="mdl-data-table__cell--non-numeric"><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{table.name}}" id="{{table.name|prepend:'l'}}">
     <input {% if table.checked == true %}{{ 'checked' }}{% endif %} {% if table.disabled == true %}{{ 'disabled' }}{% endif %} id="{{table.name}}" name="arch" type="radio" value="{{table.name}}" class="mdl-radio__button" />
     <span class="mdl-radio__label">{% if table.url %}{{table.humanname}}<a class="wikilink" href="{{site.support.wiki|append:{{table.url}}"><i class="material-icons">&#xE895;</i></a>{% else %}{{table.humanname}}{% endif %}</span>
    </label></td></tr>
    {% endfor %}
    </tbody>
   </table>
   <table id="ta" class="dt mdl-data-table mdl-js-data-table">
    <thead><tr><th class="mdl-data-table__cell--non-numeric"><span id="tandroid"><strong>Android</strong>:</span></th></tr></thead>
     <tbody>
     {% for table in site.data.table.api %}
     <tr><td class="mdl-data-table__cell--non-numeric"><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{table.name}}" id="{{table.name|prepend:'l'}}">
      <input {% if table.checked == true %}{{ 'checked' }}{% endif %} {% if table.disabled == true %}{{ 'disabled' }}{% endif %} id="{{table.name}}" name="api" type="radio" value="{{table.name}}" class="mdl-radio__button" />
      <span class="mdl-radio__label">{% if table.url %}{{table.name}}<a class="wikilink" href="{{site.support.wiki|append:{{table.url}}"><i class="material-icons">&#xE895;</i></a>{% else %}{{table.name}}{% endif %}</span>
     </label></td></tr>
     {% endfor %}
    </tbody>
   </table>
   <table id="tv" class="dt  mdl-data-table mdl-js-data-table">
    <thead><tr><th class="mdl-data-table__cell--non-numeric"><span id="tvariant"><a href="{{site.support.wiki|append:'/Package-Comparison'}}"><strong>Variant</strong></a>:</span></th></tr></thead>
    <tbody>
    {% for table in site.data.table.variant %}
    <tr><td class="mdl-data-table__cell--non-numeric"><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{table.name}}" id="{{table.name|prepend:'l'}}">
     <input {% if table.checked == true %}{{ 'checked' }}{% endif %} {% if table.disabled == true %}{{ 'disabled' }}{% endif %} id="{{table.name}}" name="variant" type="radio" value="{{table.name}}" class="mdl-radio__button" />
     <span class="mdl-radio__label">{{table.name}}<a class="wikilink" href="{{site.support.wiki|append:{{table.url}}"><i class="material-icons">&#xE895;</i></a></span>
    </label></td></tr>
    {% endfor %}
    </tbody>
   </table>
  </form>
  <div class="downloadbuttons">
   <div id="likeus"><div class="g-plusone" data-size="tall" data-href="http://opengapps.org"></div></div>
   <button id="bdownload" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--2dp" disabled><i class="material-icons">file_download</i></button>
   <div id="github-latest"><div id="github-progressbar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate progress-demo"></div><span class="mdl-typography--caption-color-contrast">querying GitHub API...</span></div>
   <button id="bversion" class="mdl-button mdl-js-button mdl-button--accent" disabled>Version Information</button><br />
   <button id="bmd5" class="mdl-button mdl-js-button mdl-button--accent" disabled>MD5 Checksum</button><br />
   <button id="breport" class="mdl-button mdl-js-button mdl-button--accent" disabled>Sources Report</button><br />
   <a id="bolderlink"><button id="bolder" class="mdl-button mdl-js-button mdl-button--accent" disabled>Older Releases</button></a>
  </div>
 </div>
 <div class="footer-container">
  {% assign blog = site.posts.first %}
  <div class="mdl-card mdl-shadow--2dp"><div class="mdl-card__title mdl-typography--title">Open GApps News</div>
   <div class="mdl-card__supporting-text mdl-typography--text-justify">Latest blog post:<br/><a href="{{ blog.url }}"><span class="mdl-typography--title">{{ blog.title }}</span></a></div>
   <div class="post-hr"><div class="mdl-card__actions mdl-typography--text-left"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ site.blogurl }}">Visit Blog</a></div></div>
  </div><br />
  <div id="bota" class="advertisement"><div class="mdl-typography--caption-color-contrast" id="adlabelfooter">Advertisement</div><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9489060368971640" data-ad-slot="2525609473" data-ad-format="auto"></ins></div>
 </div>
</div>
