<table
  id="tph"
  class="dt mdl-data-table mdl-js-data-table"
  data-upgraded=",MaterialDataTable"
>
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">
        <span id="tphenotype" tabindex="0"><strong>Phenotype</strong>:</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <label
          class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
          for="enable call recording"
          id="lenablecallrecording"
          data-upgraded=",MaterialRadio,MaterialRipple"
          tabindex="0"
        >
          <input
            id="enable call recording"
            name="phenotype"
            type="radio"
            value="enable call recording"
            class="mdl-radio__button" />
          <span class="mdl-radio__label"
            >Enable call recording<a
              class="wikilink"
              href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-call-recording"
              ><i class="material-icons"></i></a
            ></span
          >
          <span class="mdl-radio__outer-circle"></span
          ><span class="mdl-radio__inner-circle"></span
          ><span
            class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
            data-upgraded=",MaterialRipple"
            ><span class="mdl-ripple"></span></span
        ></label>
      </td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="automatic call recording"
            id="lautomaticcallrecording"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="automatic call recording"
              name="phenotype"
              type="radio"
              value="automatic call recording"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Automatic call recording<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Automatic-call-recording"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="call recording announcements"
            id="lcallrecordingannouncements"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="call recording announcements"
              name="phenotype"
              type="radio"
              value="call recording announcements"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Call recording announcements<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Call-recording-announcements"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable call screening"
            id="lenablecallscreening"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable call screening"
              name="phenotype"
              type="radio"
              value="enable call screening"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable call screening<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-call-screening"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable debug menu"
            id="lenabledebugmenu"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable debug menu"
              name="phenotype"
              type="radio"
              value="enable debug menu"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable debug menu<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-debug-menu"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable message organization"
            id="lenablemessageorganization"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable message organization"
              name="phenotype"
              type="radio"
              value="enable message organization"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable message organization<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-message-organization"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable marking conversations as unread"
            id="lenablemarkingconversationsasunread"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable marking conversations as unread"
              name="phenotype"
              type="radio"
              value="enable marking conversations as unread"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable marking conversations as unread<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-marking-conversations-as-unread"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable verified SMS"
            id="lenableverifiedSMS"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable verified SMS"
              name="phenotype"
              type="radio"
              value="enable verified SMS"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable verified SMS<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-verified-SMS"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable always sending images by Google Photos links in SMS"
            id="lenablealwayssendingimagesbyGooglePhotoslinksinSMS"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable always sending images by Google Photos links in SMS"
              name="phenotype"
              type="radio"
              value="enable always sending images by Google Photos links in SMS"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable always sending images by Google Photos links in SMS<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-always-sending-images-by-Google-Photos-links-in-SMS"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable nudges and birthday reminders"
            id="lenablenudgesandbirthdayreminders"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable nudges and birthday reminders"
              name="phenotype"
              type="radio"
              value="enable nudges and birthday reminders"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable nudges and birthday reminders<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-nudges-and-birthday-reminders"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable Bard AI draft suggestions"
            id="lenableBardAIdraftsuggestions"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable Bard AI draft suggestions"
              name="phenotype"
              type="radio"
              value="enable Bard AI draft suggestions"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable Bard AI draft suggestions<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-Bard-AI-draft-suggestions"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <label
            class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
            for="enable smart features"
            id="lenablesmartfeatures"
            data-upgraded=",MaterialRadio,MaterialRipple"
            tabindex="0"
          >
            <input
              id="enable smart features"
              name="phenotype"
              type="radio"
              value="enable smart features"
              class="mdl-radio__button" />
            <span class="mdl-radio__label"
              >Enable smart features<a
                class="wikilink"
                href="https://github.com/opengapps/opengapps/wiki/Notes-for-Phenotype-Enable-smart-features"
                ><i class="material-icons"></i></a
              ></span
            >
            <span class="mdl-radio__outer-circle"></span
            ><span class="mdl-radio__inner-circle"></span
            ><span
              class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center"
              data-upgraded=",MaterialRipple"
              ><span class="mdl-ripple"></span></span
          ></label>
        </td>
      </tr>
    </tbody>
</table>
