<header class="mdl-layout__header mdl-layout__header--scroll">
 <div class="mdl-layout__header-row"></div>
 <div class="mdl-layout__header-row"><img id="logoimage" src="{{site.img}}logo.svg" alt="Open GApps logo" /></div>
 <div class="mdl-layout__header-row mdl-cell--hide-phone mdl-cell--hide-tablet">
 <div class="mdl-layout-spacer"></div>
 <nav class="mdl-navigation">
  <a class="mdl-navigation__link link" id="donatelink" href="#" onclick="window.paypal();return false;">Donate</strong></a>
  <a class="mdl-navigation__link link" id="githublink" href="{{site.social.github}}">GitHub</a>
  <a class="mdl-navigation__link link" id="xdalink" href="{{site.social.xda}}">XDA Forum</a>
  <a class="mdl-navigation__link link" id="wikilink" href="{{site.social.github}}/wiki">Wiki</a>
  <a class="mdl-navigation__link link" id="pushbulletlink" href="#">Pushbullet</a>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="pushbulletlink">
   <a href="{{site.social.pushbullet}}opengapps"><li class="mdl-menu__item">All Releases</li></a>
   <a href="{{site.social.pushbullet}}opengappsarm"><li class="mdl-menu__item">ARM Releases</li></a>
   <a href="{{site.social.pushbullet}}opengappsarm64"><li class="mdl-menu__item">ARM64 Releases</li></a>
   <a href="{{site.social.pushbullet}}opengappsx86"><li class="mdl-menu__item">x86 Releases</li></a>
   <a href="{{site.social.pushbullet}}opengappsx86_64"><li class="mdl-menu__item">x86_64 Releases</li></a>
  </ul>
  <a class="mdl-navigation__link link" id="twitterlink" href="{{site.social.twitter}}">Twitter</a>
  <a class="mdl-navigation__link link" id="googlepluslink" href="https://plus.google.com/+OpengappsOrg/posts">Google+</a>
 </nav>
</div>
<div class="mdl-layout__header-row mdl-cell--hide-desktop"></div>
<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark mdl-shadow--2dp reset-tab">
 <a href="#downloadsection" class="mdl-layout__tab is-active tab">Download</a>
 <a href="#aboutsection" class="mdl-layout__tab tab">About</a>
</div>
</header>
<div class="mdl-layout__drawer"><span class="mdl-layout-title">Links</span><nav class="mdl-navigation">
 <a class="mdl-navigation__link" href="#" onclick="window.paypal();return false;">Support by <strong>Donation</strong></a>
 <a class="mdl-navigation__link" href="{{site.social.github}}">Source on <strong>GitHub</strong></a>
 <a class="mdl-navigation__link" href="{{site.social.xda}}">Community on <strong>XDA Forum</strong></a>
 <a class="mdl-navigation__link" href="{{site.social.github}}/wiki">Manual on <strong>Wiki</strong></a>
 <a id="pushbulletdrawer" class="mdl-navigation__link" href="#">Follow via <strong>Pushbullet</strong></a>
 <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" data-mdl-for="pushbulletdrawer">
  <a href="{{site.social.pushbullet}}opengapps"><li class="mdl-menu__item">All releases</li></a>
  <a href="{{site.social.pushbullet}}opengappsarm"><li class="mdl-menu__item">ARM Releases</li></a>
  <a href="{{site.social.pushbullet}}opengappsarm64"><li class="mdl-menu__item">ARM64 Releases</li></a>
  <a href="{{site.social.pushbullet}}opengappsx86"><li class="mdl-menu__item">x86 Releases</li></a>
  <a href="{{site.social.pushbullet}}opengappsx86_64"><li class="mdl-menu__item">x86_64 Releases</li></a>
 </ul>
 <a class="mdl-navigation__link" href="{{site.social.twitter}}">Changelog on <strong>Twitter</strong></a>
 <a class="mdl-navigation__link" href="{{site.social.google}}">Weblog on <strong>Google+</strong></a>
</nav></div>
