<header class="mdl-layout__header mdl-layout__header--scroll">
 <div class="mdl-layout__header-row"><img id="logoimage" src="{{site.img}}logo.svg" alt="Open GApps logo" /></div>
 <div class="mdl-layout__header-row" id="toplinks">
 <div class="mdl-layout-spacer"></div>
 <nav class="mdl-navigation">
  <a class="mdl-navigation__link link mdl-navigation__link--icon mdl-layout--large-screen-only" id="donatelink" href="#" onclick="window.paypal();return false;"><i class="material-icons">card_giftcard</i> Donate</strong></a>
  <a class="mdl-navigation__link link mdl-navigation__link--icon mdl-layout--large-screen-only" id="githublink" href="{{site.social.github}}"><i class="material-icons">code</i> GitHub</a>
  <a class="mdl-navigation__link link mdl-navigation__link--icon mdl-layout--large-screen-only" id="pushbulletlink" href="#"><i class="material-icons">notifications</i> Pushbullet</a>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-layout--large-screen-only" data-mdl-for="pushbulletlink">
   <a href="{{site.social.pushbullet}}opengapps"><li class="mdl-menu__item">All Releases</li></a>
   <a href="{{site.social.pushbullet}}opengappsarm"><li class="mdl-menu__item">ARM Releases</li></a>
   <a href="{{site.social.pushbullet}}opengappsarm64"><li class="mdl-menu__item">ARM64 Releases</li></a>
   <a href="{{site.social.pushbullet}}opengappsx86"><li class="mdl-menu__item">x86 Releases</li></a>
   <a href="{{site.social.pushbullet}}opengappsx86_64"><li class="mdl-menu__item">x86_64 Releases</li></a>
  </ul>
  <a class="mdl-navigation__link link mdl-navigation__link--icon mdl-layout--large-screen-only" id="twitterlink" href="{{site.social.twitter}}"><i class="material-icons">whatshot</i> Twitter</a>
  <a class="mdl-navigation__link link mdl-navigation__link--icon mdl-layout--large-screen-only" id="googlepluslink" href="https://plus.google.com/+OpengappsOrg/posts"><i class="material-icons">plus_one</i> Google+</a>
 </nav>
</div>
<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark mdl-shadow--2dp reset-tab">
 <a href="#downloadsection" class="mdl-layout__tab is-active tab">Download</a>
 <a href="#supportsection" class="mdl-layout__tab tab">Support</a>
 <a href="#aboutsection" class="mdl-layout__tab tab">About</a>
</div>
</header>
<div class="mdl-layout__drawer"><span class="mdl-layout-title">Navigation</span><nav class="mdl-navigation">
 <a class="mdl-navigation__link mdl-navigation__link--icon" href="#" onclick="window.paypal();return false;"><i class="material-icons">card_giftcard</i> Support by <strong>Donation</strong></a>
 <a class="mdl-navigation__link mdl-navigation__link--icon" href="{{site.social.github}}"><i class="material-icons">code</i> Source on <strong>GitHub</strong></a>
 <a id="pushbulletdrawer" class="mdl-navigation__link mdl-navigation__link--icon" href="#"><i class="material-icons">notifications</i> Follow via <strong>Pushbullet</strong></a>
 <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" data-mdl-for="pushbulletdrawer">
  <a href="{{site.social.pushbullet}}opengapps"><li class="mdl-menu__item">All releases</li></a>
  <a href="{{site.social.pushbullet}}opengappsarm"><li class="mdl-menu__item">ARM Releases</li></a>
  <a href="{{site.social.pushbullet}}opengappsarm64"><li class="mdl-menu__item">ARM64 Releases</li></a>
  <a href="{{site.social.pushbullet}}opengappsx86"><li class="mdl-menu__item">x86 Releases</li></a>
  <a href="{{site.social.pushbullet}}opengappsx86_64"><li class="mdl-menu__item">x86_64 Releases</li></a>
 </ul>
 <a class="mdl-navigation__link mdl-navigation__link--icon" href="{{site.social.twitter}}"><i class="material-icons">whatshot</i> Changelog on <strong>Twitter</strong></a>
 <a class="mdl-navigation__link mdl-navigation__link--icon" href="{{site.social.google}}"><i class="material-icons">plus_one</i> Weblog on <strong>Google+</strong></a>
</nav></div>
