<!-- Tooltips -->
<span class="mdl-tooltip mdl-tooltip--large" for="tplatform">If you don't know your platform, choose <em>ARM</em></span>
<span class="mdl-tooltip mdl-tooltip--large" for="larm"><em>ARM</em> is the most popular 32-bit platform for mobile devices</span>
<span class="mdl-tooltip mdl-tooltip--large" for="larm64"><em>ARM64</em> is a new 64-bit platform and available on a small set of new mobile devices</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lx86"><em>x86</em> is a less common mobile platform, but used on e.g. the Zenfone</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lx86_64"><em>x86_64</em> has temporarily only limited availability, i.e. only <em>5.0+5.1 pico</em>, because of missing APKs</span>
<span class="mdl-tooltip mdl-tooltip--large" for="tandroid">In Settings →About →Android version you can find the major version of your installed Android operating system</span>
<span class="mdl-tooltip mdl-tooltip--large" for="l4.4">In <em>stock</em> and <em>full</em> on <em>4.4</em> some applications are installed on /data/ instead of /system/</span>
<span class="mdl-tooltip mdl-tooltip--large" for="l6.0"><em>6.0</em> needs a ROM with a patch to grant the {{site.ga}} the proper permissions</span>
<span class="mdl-tooltip mdl-tooltip--large" for="tvariant">The set of applications differs per variant, click for an overview</span>
<span class="mdl-tooltip mdl-tooltip--large" for="laroma">Graphical installer of the <em>super</em> package, allows to select which applications to install</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lsuper">For those who want everything, includes all {{site.ga}} that were ever shipped on a Google device</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lstock">Recommended package for recent devices, includes all {{site.ga}} that come standard on the latest Nexus device</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lfull">Very similar to <em>stock</em>, but does not replace non-Google stock-applications</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lmini">Smaller set of {{site.ga}}: the most popular applications plus extra functionality that is not available from the Play Store</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lmicro">Limited set of {{site.ga}}: Gmail, Calendar, Google Now plus extra functionality that is not available from the Play Store</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lnano">Minimal installation, but including the extra functionality that is not available from the Play Store</span>
<span class="mdl-tooltip mdl-tooltip--large" for="lpico">The bare minimum to get Google Play functionality</span>
<span class="mdl-tooltip mdl-tooltip--large" for="bdownload">Download selected Open GApps package</span>
<span class="mdl-tooltip mdl-tooltip--large" for="bversion">Detailed version information of the applications that are used for this specific platform architecture and android version</span>
<span class="mdl-tooltip mdl-tooltip--large" for="bmd5">Download a md5 checksum file that can be used by the Android device's recovery to verify the integrity of the downloaded package</span>
<span class="mdl-tooltip mdl-tooltip--large" for="bolder">List all older releases for this platform architecture</span>
<span class="mdl-tooltip mdl-tooltip--large" for="donatelink">Support by Donation</span>
<span class="mdl-tooltip mdl-tooltip--large" for="githublink">Source on GitHub</span>
<span class="mdl-tooltip mdl-tooltip--large" for="xdalink">Community on XDA Forum</span>
<span class="mdl-tooltip mdl-tooltip--large" for="wikilink">Manual on Wiki</span>
<span class="mdl-tooltip mdl-tooltip--large" for="pushbulletlink">Follow via Pushbullet</span>
<span class="mdl-tooltip mdl-tooltip--large" for="twitterlink">Changelog on Twitter</span>
<span class="mdl-tooltip mdl-tooltip--large" for="googlepluslink">Weblog on Google+</span>
