---
layout: blog
title: "The Open GApps Project Blog"
---
<div class="home">
  <div class="post-list">
  {% for post in paginator.posts %}
    <div class="mdl-card mdl-shadow--2dp">
      <a href="{{ post.url | prepend: site.baseurl }}?back=true"><div class="mdl-card__title mdl-typography--display-1">{{ post.title }}</div></a>
      <span class="postdate mdl-color-text--grey-700 mdl-typography--subhead-color-contrast mdl-typography--text-right"><i class="material-icons">date_range</i> {{ post.date | date: "%b %-d, %Y" | upcase }}{% if post.author %} - by {{ post.author }}{% endif %}</span>
      <div class="content-limit mdl-card__supporting-text mdl-typography--text-justify mdl-color-text--grey-700">
        {{ post.content }}
        <div class="gradientback"></div>
      </div>
      <div class="post-hr"><div class="mdl-card__actions mdl-typography--text-left"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}?back=true">Read more &nbsp; <span class="material-icons mdl-badge mdl-badge--overlap disqus-comment-count" data-disqus-identifier="{{ post.id }}" data-badge="?">comment</span></a></div>
    </div>
  </div>
  {% endfor %}
  <div class="pagination">
    {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">arrow_back</i></button></a>
      {% else %}
        <span><button class="mdl-button mdl-js-button mdl-button--icon" disabled><i class="material-icons">arrow_back</i></button></span>
      {% endif %}
      <div class="paginator-align">
        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <span class="mdl-typography--headline">{{ page }}</span>
          {% elsif page == 1 %}
            <a href="{{ '/' | prepend: site.blogurl | replace: '//', '/' }}" class="mdl-typography--headline">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="mdl-typography--headline">{{ page }}</a>
          {% endif %}
        {% endfor %}
      </div>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}"><button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">arrow_forward</i></button></a>
      {% else %}
        <span><button class="mdl-button mdl-js-button mdl-button--icon" disabled><i class="material-icons">arrow_forward</i></button></span>
      {% endif %}
      <br /><br />
    {% endif %}
    <p class="feed-subscribe"><a href="{{ '/feed.xml' | prepend: site.blogurl }}"><i class="material-icons">rss_feed</i>RSS</a> <a href="{{ site.pushbullet | append:'opengappsblog' }}"><i class="material-icons">notifications</i>Pushbullet</a></p>
  </div>
</div>
{% for tooltip in site.data.tooltips.common %}<span class="mdl-tooltip mdl-tooltip--large" for="{{tooltip.tag}}">{{tooltip.info}}</span>{% endfor %}
{% for tooltip in site.data.tooltips.blog %}<span class="mdl-tooltip mdl-tooltip--large" for="{{tooltip.tag}}">{{tooltip.info}}</span>{% endfor %}
